body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    position: relative; 
    display: flex;
    background-image: url("fact.jpg");
    background-size: cover;
    background-position: center top;
    background-color: rgba(70, 63, 63, 0.5);
    
}


h1 {
    font-size: 1000px;
    margin-bottom: 20px;
}

#fact-input {
    width: 60%;
    position: fixed;
    bottom:0;
    height: 30%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left; 
}
#fact-input::placeholder {
    text-align: left; 
 
}

 /* #clear-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border:0ch;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 0;
    right: 200px;
    padding :15px;
} */
#refresh-btn
{
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border:0ch;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   bottom: 0;
    left:100ch;
    padding :15px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#refresh-btn:hover {
    background-color: black; /* Green */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
  }

#submit-btn:hover, #clear-btn:hover {
    background-color:black;
}

#gif-text {
    font-size: 60px;
  text-align: center; /* Align the heading text to the center */
  position: absolute; /* Position the heading */
  top: 10px; /* Set the distance from the top of the viewport */
  left: 50%; /* Align the heading horizontally in the middle */
  transform: translateX(-50%);
  
}

/* #plus-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 80px;
}

#equals-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px; /* Adjusted position */
 */

#user-profile-icon {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed; /* Position the image relative to the viewport */
    bottom: 0; /* Align the image to the bottom of the viewport */
     right: 0;
    width: 80px; /* Adjust icon size as needed */
    height: 40px; /* Adjust icon size as needed */
}

#pred {
    font-family: Arial, sans-serif; /* Change the font family as desired */
    font-size: 60px; /* Change the font size as desired */
    color: black; /* Change the text color as desired */
    margin-top: 300px; /* Adjust the top margin as desired */
}

#output-box::placeholder {
    text-align: left; 
 
} 
